<!DOCTYPE html>
<html>
<head>
  <title>AuthlogicTest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script>
  $(document).ready(function(){
    setInterval(check_session, 10*1000);
  })
  function check_session(){
    $.ajax({
      type: "GET",
      url: "/check_session",
      data: {},
      success: function(data){
        console.log(data);
      }
    })
  }
</script>
</body>
</html>
